
html {
    background-color: rgb(43, 79, 126);
}

.hidden {
    display: none
}

h2 {
    width: 100%;
    text-align: center;
    color: cornsilk;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    margin-bottom: 1.2rem;
    color: cornsilk;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.the-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem;
}

.new-bookmark {
    padding: 10px;
    width: 100%;
    background-color: #c2a813;
    color: #fff;
    margin-bottom: 3%;
    border: none;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}

.filter-bookmarks {
    position: relative;
    left: 25%;
}

.filter-bookmarks select {
    background: #c2a813;
    color: #fff;
    padding: 3px;
    border: none;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    border-radius: 3px;
}

.new-bookmark-form {
    width: 100%;
}


@media all and (min-width:500px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .the-buttons {
        display: flex;
        flex-direction: row;
        height: 200px;
        align-self: center;
    }

    .new-bookmark{
       justify-self: center;
       width: 50%;
       align-self: center;
    }
    .filter-bookmarks {
        align-self: center;
        height: 55px;
    }

    .bookmark-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        left: 25%;
        bottom: 30%;
        padding: 10px;
    }

    .bookmark-item {
        margin-bottom: 3%;
        align-self: center;
    }

}




